<script type="text/javascript" src="https://altprod.mdchat.com/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="https://altprod.mdchat.com/js/msgwidgetoutside.js"></script>
<link rel="stylesheet" href="https://altprod.mdchat.com/css/style.css') }}" />
<form action="/send-widget-message/"  method="POST">
	<input type="hidden" name="TargetPerson" value="{{ TargetPerson }}" />
	<input type="hidden" id="dob" name="PatientDateOfBirth" value="" />
	<div class="widget-department">
		<ul>
			<li>
				<div class="mdc-logo"></div>
				<div class="response-needed after-send">RESPONSE NEEDED</div>
			</li>
			<li>
				<label>Invoice Number or Account Number if Available</label>
				<input class="primary" type="text" name="AccountNumber" id="invoice_number" placeholder="####" />
			</li>
			<li>
				<label>Patient Name</label>
				<input class="secondary" type="text" name="PatientFirstName" id="patient_firstname" placeholder="First Name" />
				<input class="secondary" type="text" name="PatientLastName"  id="patient_lastname" placeholder="Last Name" />
			</li>
			<li>
				<label>Date of Birth</label>
				<select class="dob" id="dob_m" name="PatientDateOfBirthMonth">
					<option value="">Month</option>
					{% for month in 1..12 %}
						<option value="{{ month }}">{{ month }}</option>
					{% endfor %}
				</select>
				<select class="dob" id="dob_d" name="PatientDateOfBirthDay">
					<option value="">Day</option>
					{% for day in 1..31 %}
						<option value="{{ day }}">{{ day }}</option>
					{% endfor %}
				</select>
				<select class="dob" id="dob_y" name="PatientDateOfBirthYear">
					<option value="">Year</option>
					{% for year in 2015..1901 %}
						<option value="{{ year }}">{{ year }}</option>
					{% endfor %}
				</select>
			</li>
			<li>
				<label>Reason for Contact</label>
				<textarea name="Message"></textarea>
			</li>
			<li>
				<label>Call Back Phone Number</label>
				<input class="secondary" type="text" name="CallBackNum" id="callback_phone" placeholder="Area Code + Number" />
			</li>
			<li>
				<label>If you would like to be notified by text message when a staff member reads your message, please provide your cell phone number here:</label>
				<input class="secondary" type="text" name="ConfirmationNum" id="cell_phone" placeholder="Cell Phone Number" />
			</li>
			<li class="after-send-li-box after-send">
				<div class="messages-box">
					<div class="msg-status">
						MESSAGE ARRIVAL: 04/02/2015 21:30 <br />
						MESSAGE RESPONSE: 04/02/2015 22:15
					</div>
					<div class="knowledge-response-box">
						<input type="checkbox" id="knowledgeResponse" name="AcknowledgeResponse" />
						<label for="knowledgeResponse">Acknowledge Response</label>
					</div>
					<div class="clearboth"></div>
				</div>
			</li>
			<li>
				<span class="before-send">
					<span class="datetime">
					{{ "now"|date("m/d/Y H:i") }}
					</span>
				</span>
				<span class="before-send">
					<a href="#" id="send-btn" class="submit">Send</a>
				</span>
				<span class="before-send">
					<a href="#" class="cancel">Cancel</a>
				</span>
				<span class="after-send">
					<a href="#" class="cancel">Close</a>
				</span>
				<div class="clearboth"></div>
			</li>
		</ul>
	</div>
	</form>
