<h1>
	Some other info
</h1>
<ul class="dummy-of-form">
	<li>Data 1</li>
	<li>Data 2</li>
	<li>Data 3</li>
	<li>Data 4</li>
</ul>
<h2>
	Demo MDC widget on iframe
</h2>

<script type="text/javascript">
(function () {
var s = document.createElement('script');
s.type = 'text/javascript';s.async = true;s.charset = "UTF-8";
s.src = '//bs.mdchat.com/js/msgwidget.js';
s.id = 'oncallscriptid';
var x = document.getElementsByTagName('script')[0];
x.parentNode.insertBefore(s, x);
})();
</script>
<div id="mdc-msg-area"></div>
