<script type="text/javascript" src="https://altprod.mdchat.com/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="https://altprod.mdchat.com/js/msgwidgetoutside.js"></script>
<link rel="stylesheet" href="https://altprod.mdchat.com/css/style.css') }}" />
<form action="/load-department/"  method="POST">
    <ul class="start-widget-mdc-call-ul">
        <li>
            <div class="msg-widget">
                <div class="mdc-logo"></div>
                The easiest, fastest way to contact our office staff.
                <select name="TargetPerson" id="target-person-select">
                    <option value=""> - Select Department - </option>
                    <option value="Billing">Billing</option>
                    <option value="Front Desk">Front Desk</option>
                    <option value="Doctor">Doctor</option>
                </select>
                <a href="#" id="submit-to-department" class="submit">Go</a>
                <div class="clearboth"></div>
            </div>
        </li>
    </ul>
    <div class="clearboth"></div>
</form>