<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en-US">
<!--<![endif]-->
<head>
	<meta content="text/html;charset=utf-8" http-equiv="content-type" />
	<meta name="description" content="cmsmasters responsive html5 website template" />
	<meta name="keywords" content="html5, css3, template, responsive, adaptive" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<title>Blair Medical Group</title>
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/css/styles/fonts.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/css/styles/adaptive.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/css/styles/retina.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/css/fonts/css/fontello.css" type="text/css" media="screen" />
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,300italic,500,700,500italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/styles/jackbox.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/css/styles/jquery.jPlayer.css" type="text/css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/revolution/css/dynamic-captions.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/revolution/css/static-captions.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/revolution/css/settings.css" media="screen" />
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="css/styles/ie.css" type="text/css" />
		<link rel="stylesheet" href="css/styles/ieCss3.css" type="text/css" media="screen" />
	<![endif]-->
	<script src="/js_bmg/jquery.min.js" type="text/javascript"></script>
	<script src="/js_bmg/modernizr.custom.all.js" type="text/javascript"></script>
	<style>
		.contact_widget_phone > span,
		.contact_widget_email > span {width: 1%;}

		#box_color_1 {background-color: #56cce1;}
		#box_color_2 {background-color: #2cbfd9;}
		#box_color_3 {background-color: #2ca6d9;}
		#box_color_4 {background-color: #1b90da;}

		.content_icon.icon-glyph-2:before{color:#2ca6d9;}
		.content_icon.icon-glyph-3:before{color:#2cbfd9;}
		.content_icon.icon-glyph-4:before{color:#2ca6d9;}
		.content_icon.icon-glyph-5:before{color:#2cbfd9;}

		#text-2 .textwidget h1,
		#text-2 .textwidget h4 {
			text-align:center;
		}
		#text-2 .textwidget h1 {color:#1b90da;}
		#text-2 .textwidget h4 {color:#898989;}

		.post.type-post.one_fourth .cmsms_post_type_img > img {
			width:130px;
			height:130px;
		}

		.type-testimonial img.type-testimonial {
			width:60px;
			height:60px;
		}

		.textwidget #pb_35 {padding-bottom:35px;}
	</style>
</head>
<body class="page">

<!-- _________________________ Start Page _________________________ -->
<section id="page" class="csstransition cmsms_resp hfeed site">

	<!-- _________________________ Start Container _________________________ -->
	<div class="container">

		<!-- _________________________ Start Header _________________________ -->
		<header id="header">
			<div class="header_inner">
				<div class="custom_header">
					<div class="header_html">
						<span class="contact_widget_phone">
							Contact us:
							<span></span>
							(978) 373 5222
						</span>
						<span class="contact_widget_email">
							<span></span>
							<a href="#">contact@blairmedicalgroup.com</a>
						</span>
					</div>
					<div class="wrap_social_icons">
						<ul class="social_icons">
							<li><a target="_blank" href="#" title="#"><img src="/images/img/facebook.png" alt="#" /></a></li>
							<li><a target="_blank" href="#" title="#"><img src="/images/img/twitter.png" alt="#" /></a></li>
							<li><a target="_blank" href="#" title="#"><img src="/images/img/linkedin.png" alt="#" /></a></li>
						</ul>
						<div class="cl"></div>
						<a href="#" class="social_toggle">
							<span></span>
						</a>
					</div>
				</div>
				<a href="index.html" title="Medicure" class="logo">
					<img src="/images/logo-jpeg.jpg" alt="Medicure" />
				</a>
				<a class="responsive_nav" href="javascript:void(0);">
					<span></span>
				</a>
				<!-- _________________________ Start Navigation _________________________ -->
				<div class="wrap_nav">
					<nav role="navigation">
						<ul id="navigation" class="navigation">
							<li class="menu-item current_page_item">
								<a href="index.html"><span>Home</span></a>
							</li>
							<li class="dropdown menu-item menu-item-has-children">
								<a><span>For Patients</span></a>
								<ul class="sub-menu">
									<li class="dropdown menu-item menu-item-has-children">
										<a><span>Shortcodes</span></a>
										<ul class="sub-menu">
											<li class="dropdown menu-item menu-item-has-children">
												<a><span>Block Shortcodes</span></a>
												<ul class="sub-menu">
													<li><a href="person_block.html"><span>Person Block</span></a></li>
													<li><a href="featured.html"><span>Featured Blocks</span></a></li>
													<li><a href="colored_blocks.html"><span>Colored Blocks</span></a></li>
													<li><a href="columns.html"><span>Columns</span></a></li>
													<li><a href="tabs_and_toggle.html"><span>Tabs &amp; Toggle</span></a></li>
													<li><a href="information_boxes.html"><span>Information Boxes</span></a></li>
													<li><a href="pricing_tables.html"><span>Pricing Tables</span></a></li>
												</ul>
											</li>
											<li class="dropdown menu-item menu-item-has-children">
												<a><span>Other Shortcodes</span></a>
												<ul class="sub-menu">
													<li><a href="content_slider.html"><span>Content Slider</span></a></li>
													<li><a href="posttype.html"><span>Post type shortcode</span></a></li>
													<li><a href="statistics.html"><span>Statistics</span></a></li>
													<li><a href="contact_form.html"><span>Contact Form Shortcode</span></a>
													<li><a href="lightboxes.html"><span>Lightboxes</span></a></li>
													<li><a href="media.html"><span>Media</span></a></li>
													<li><a href="player.html"><span>Audio &amp; Video Players</span></a></li>
													<li><a href="googlemaps.html"><span>Google Maps</span></a></li>
												</ul>
											</li>
										</ul>
									</li>
									<li class="dropdown menu-item menu-item-has-children">
										<a><span>Layouts</span></a>
										<ul class="sub-menu">
											<li><a href="about.html"><span>About Us</span></a></li>
											<li><a href="error.html"><span>404 Error Page</span></a></li>
											<li><a href="pass.html"><span>Password-protected page</span></a></li>
											<li><a href="sitemap.html"><span>Sitemap</span></a></li>
											<li><a href="lsidebar.html"><span>Left Sidebar</span></a></li>
											<li><a href="rsidebar.html"><span>Right Sidebar</span></a></li>
											<li><a href="timeline_service.html"><span>Timeline Service</span></a></li>
											<li><a href="timeline.html"><span>Timeline Blog</span></a></li>
										</ul>
									</li>
									<li class="menu-item">
										<a href="testimonials.html"><span>Testimonials</span></a>
									</li>
									<li class="dropdown menu-item menu-item-has-children">
										<a><span>Heading Templates</span></a>
										<ul class="sub-menu">
											<li><a href="heading.html"><span>Standard Heading</span></a></li>
											<li><a href="heading_text.html"><span>With Subtitle</span></a></li>
											<li><a href="no_heading.html"><span>With Icon</span></a></li>
											<li><a href="heading_text_icon.html"><span>With Subtitle &#038; Icon</span></a></li>
										</ul>
									</li>
									<li class="menu-item"><a href="typography.html"><span>Typography</span></a></li>
									<li class="menu-item"><a href="widgets.html"><span>Widgets and sidebars</span></a></li>
								</ul>
							</li>
							<li class="dropdown menu-item menu-item-has-children">
								<a><span>For Professionals</span></a>
								<ul class="sub-menu">
									<li class="menu-item"><a href="service_four.html"><span>Four Columns Services Page</span></a></li>
									<li class="menu-item"><a href="service_three.html"><span>Three Columns Services Page</span></a></li>
									<li class="menu-item"><a href="service_two.html"><span>Two Columns Services Page</span></a></li>
								</ul>
							</li>
							<li class="menu-item"><a href="doctors.html"><span>About Us</span></a></li>
							<li class="menu-item"><a href="appointments.html"><span>Specialties</span></a></li>
							<li class="menu-item"><a href="blog.html"><span>Locations</span></a></li>
							<li class="menu-item"><a href="contacts.html"><span>Find a Physician</span></a></li>
						</ul>
						<div class="cl"></div>
						<!--<div class="wrap_header_search">
							<a class="search_but cmsms_icon" href="javascript:void(0);"></a>
							<div class="search_line">
								<form method="get" action="#">
									<p>
										<input name="s" id="error_search" placeholder="enter keywords" value="" type="text">
										<input value="" type="submit">
									</p>
								</form>
							</div>
						</div>-->
					</nav>
					<div class="cl"></div>
				</div>
				<div class="cl"></div>
				<!-- _________________________ Finish Navigation _________________________ -->
			</div>
			<div class="cl"></div>
		</header>
		<!-- _________________________ Finish Header _________________________ -->

		<!-- _________________________ Start Middle _________________________ -->
		<section id="middle">

			<!-- __________________________________________________ Start Top -->
			<section id="top">
				<div class="wrap_rev_slider">
					<!-- START REVOLUTION SLIDER 4.1.4 fullwidth mode -->

					<div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#E9E9E9;padding:0px;margin-top:0px;margin-bottom:0px;max-height:600px;">
						<div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;max-height:600px;height:600;">
							<ul>

								<!-- SLIDE  -->
								<li data-transition="random" data-slotamount="7" data-masterspeed="300" >
									<!-- MAIN IMAGE -->
									<img src="/images/image-2.jpg"  alt="image-2"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
									<!-- LAYERS -->

									<!-- LAYER NR. 1 -->
									<div class="tp-caption Layer2_1 tp-fade tp-resizeme"
									data-x="60"
									data-y="103"
									data-speed="500"
									data-start="700"
									data-easing="Power0.easeIn"
									data-endspeed="300"
									style="z-index: 2">Full Spectre</div>

									<!-- LAYER NR. 2 -->
									<div class="tp-caption Layer2_2 tp-fade tp-resizeme"
									data-x="64"
									data-y="159"
									data-speed="600"
									data-start="1100"
									data-easing="Power0.easeIn"
									data-endspeed="300"
									style="z-index: 3">Treatment</div>

									<!-- LAYER NR. 3 -->
									<div class="tp-caption Layer2_3 tp-fade tp-resizeme"
									data-x="97"
									data-y="259"
									data-speed="400"
									data-start="1800"
									data-easing="Power3.easeInOut"
									data-endspeed="300"
									style="z-index: 4">Medical Counseling</div>

									<!-- LAYER NR. 4 -->
									<div class="tp-caption tp-fade"
									data-x="67"
									data-y="259"
									data-speed="300"
									data-start="3900"
									data-easing="Power3.easeInOut"
									data-endspeed="300"
									style="z-index: 5">
										<img src="/images/tick-2.png" alt="" data-ww="13" data-hh="9"></div>

									<!-- LAYER NR. 5 -->
									<div class="tp-caption Layer2_3 tp-fade tp-resizeme"
									data-x="97"
									data-y="292"
									data-speed="400"
									data-start="2100"
									data-easing="Power3.easeInOut"
									data-endspeed="300"
									style="z-index: 6">Cardiac Clinyc</div>

									<!-- LAYER NR. 6 -->
									<div class="tp-caption tp-fade"
									data-x="67"
									data-y="292"
									data-speed="300"
									data-start="4200"
									data-easing="Power3.easeInOut"
									data-endspeed="300"
									style="z-index: 7">
										<img src="/images/tick-2.png" alt="" data-ww="13" data-hh="9"></div>

									<!-- LAYER NR. 7 -->
									<div class="tp-caption Layer2_3 tp-fade tp-resizeme"
									data-x="97"
									data-y="329"
									data-speed="400"
									data-start="2400"
									data-easing="Power3.easeInOut"
									data-endspeed="300"
									style="z-index: 8">Pediatric Clinic</div>

									<!-- LAYER NR. 8 -->
									<div class="tp-caption tp-fade"
									data-x="67"
									data-y="328"
									data-speed="300"
									data-start="4500"
									data-easing="Power3.easeInOut"
									data-endspeed="300"
									style="z-index: 9">
										<img src="/images/tick-2.png" alt="" data-ww="13" data-hh="9"></div>

									<!-- LAYER NR. 9 -->
									<div class="tp-caption Layer2_3 tp-fade tp-resizeme"
									data-x="97"
									data-y="365"
									data-speed="400"
									data-start="2700"
									data-easing="Power3.easeInOut"
									data-endspeed="300"
									style="z-index: 10">Gynecological Clinic</div>

									<!-- LAYER NR. 10 -->
									<div class="tp-caption tp-fade"
									data-x="67"
									data-y="364"
									data-speed="300"
									data-start="4800"
									data-easing="Power3.easeInOut"
									data-endspeed="300"
									style="z-index: 11">
										<img src="/images/tick-2.png" alt="" data-ww="13" data-hh="9"></div>

									<!-- LAYER NR. 11 -->
									<div class="tp-caption Layer2_3 tp-fade tp-resizeme"
									data-x="97"
									data-y="401"
									data-speed="400"
									data-start="3000"
									data-easing="Power3.easeInOut"
									data-endspeed="300"
									style="z-index: 12">Laboratory Analysis</div>

									<!-- LAYER NR. 12 -->
									<div class="tp-caption tp-fade"
									data-x="67"
									data-y="401"
									data-speed="300"
									data-start="5100"
									data-easing="Power3.easeInOut"
									data-endspeed="300"
									style="z-index: 13">
										<img src="/images/tick-2.png" alt="" data-ww="13" data-hh="9"></div>

									<!-- LAYER NR. 13 -->
									<div class="tp-caption Layer2_3 tp-fade tp-resizeme"
									data-x="97"
									data-y="437"
									data-speed="300"
									data-start="3300"
									data-easing="Power3.easeInOut"
									data-endspeed="400"
									style="z-index: 14">Diagnosis Clinic</div>

									<!-- LAYER NR. 14 -->
									<div class="tp-caption tp-fade"
									data-x="67"
									data-y="437"
									data-speed="300"
									data-start="5400"
									data-easing="Power3.easeInOut"
									data-endspeed="300"
									style="z-index: 15">
										<img src="/images/tick-2.png" alt="" data-ww="13" data-hh="9"></div>
								</li>
								<!-- SLIDE  -->
								<li data-transition="random" data-slotamount="7" data-masterspeed="300" >
									<!-- MAIN IMAGE -->
									<img src="/images/image-3.jpg"  alt="image-3"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
									<!-- LAYERS -->

									<!-- LAYER NR. 1 -->
									<div class="tp-caption tp-fade"
									data-x="61"
									data-y="321"
									data-speed="300"
									data-start="0"
									data-easing="Power3.easeInOut"
									data-endspeed="300"
									style="z-index: 2">
										<img src="/images/home-3-150x150.png" alt=""></div>

									<!-- LAYER NR. 2 -->
									<div class="tp-caption Layer3_2 tp-fade tp-resizeme"
									data-x="381"
									data-y="297"
									data-speed="600"
									data-start="1500"
									data-easing="Power0.easeIn"
									data-endspeed="300"
									style="z-index: 3">Care</div>

									<!-- LAYER NR. 3 -->
									<div class="tp-caption Layer3_3 tp-fade tp-resizeme"
									data-x="85"
									data-y="209"
									data-speed="600"
									data-start="300"
									data-easing="Power0.easeIn"
									data-endspeed="300"
									style="z-index: 4">Pediatric</div>

									<!-- LAYER NR. 4 -->
									<div class="tp-caption Layer3_4 tp-fade tp-resizeme"
									data-x="97"
									data-y="519"
									data-speed="600"
									data-start="2500"
									data-easing="Power0.easeIn"
									data-endspeed="500"
									style="z-index: 5">When medical treatment is fun...</div>

									<!-- LAYER NR. 5 -->
									<div class="tp-caption Layer3_5 tp-fade tp-resizeme"
									data-x="90"
									data-y="119"
									data-speed="600"
									data-start="1000"
									data-easing="Power0.easeIn"
									data-endspeed="500"
									style="z-index: 6">Playful</div>
								</li>
							</ul>
						</div>
					</div>
					<script type="text/javascript">
						var tpj=jQuery;
						tpj.noConflict();
						var revapi1;

						tpj(document).ready(function() {

						if(tpj('#rev_slider_1_1').revolution == undefined)
							revslider_showDoubleJqueryError('#rev_slider_1_1');
						else
						   revapi1 = tpj('#rev_slider_1_1').show().revolution(
							{
								dottedOverlay:"none",
								delay:9000,
								startwidth:1160,
								startheight:600,
								hideThumbs:200,

								thumbWidth:100,
								thumbHeight:50,
								thumbAmount:3,

								navigationType:"bullet",
								navigationArrows:"solo",
								navigationStyle:"round",

								touchenabled:"on",
								onHoverStop:"on",

								navigationHAlign:"center",
								navigationVAlign:"bottom",
								navigationHOffset:0,
								navigationVOffset:20,

								soloArrowLeftHalign:"left",
								soloArrowLeftValign:"center",
								soloArrowLeftHOffset:20,
								soloArrowLeftVOffset:0,

								soloArrowRightHalign:"right",
								soloArrowRightValign:"center",
								soloArrowRightHOffset:20,
								soloArrowRightVOffset:0,

								shadow:2,
								fullWidth:"on",
								fullScreen:"off",

								stopLoop:"off",
								stopAfterLoops:-1,
								stopAtSlide:-1,


								shuffle:"off",

								autoHeight:"off",
								forceFullWidth:"off",


								hideThumbsOnMobile:"off",
								hideBulletsOnMobile:"off",
								hideArrowsOnMobile:"off",
								hideThumbsUnderResolution:0,

								hideSliderAtLimit:0,
								hideCaptionAtLimit:0,
								hideAllCaptionAtLilmit:0,
								startWithSlide:0,
								videoJsPath:"#",
								fullScreenOffsetContainer: ""
							});

						});	//ready

					</script>

					<!-- END REVOLUTION SLIDER -->
					<div class="cl"></div>
				</div>
			</section>
			<!-- _________________________  Finish Top _________________________ -->

			<!-- _________________________ Start Top Sidebar _________________________ -->
			<section class="top_sidebar">
				<div class="top_sidebar_inner">
					<div class="one_first">
						<aside id="custom-colored-blocks-2" class="widget widget_custom_colored_blocks_entries">
							<div id="box_color_1" class="widget_colored_cell four_box">
								<div class="widget_colored_cell_inner">
									<h2 class="widgettitle">Clinic News</h2>
									<p>
										Blair Medical Group Receives 2014 Reader's Choice Award for America’s Best Hospital for Emergency Care
									</p>
									<a href="#" class="button_widget" title="Read More">
										<span>Read More</span>
									</a>
								</div>
							</div>
							<div id="box_color_2" class="widget_colored_cell four_box">
								<div class="widget_colored_cell_inner">
									<h2 class="widgettitle">24 Hours</h2>
									<p>
										Our MDChat On-Call service allows you to contact your physician or your physician's on-call colleague at any time
									</p>
									<a href="#" class="button_widget" title="Read More">
										<span>Read More</span>
									</a>
								</div>
							</div>
							<div id="box_color_3" class="widget_colored_cell four_box">
								<div class="widget_colored_cell_inner">
									<h2 class="widgettitle">Join Us</h2>
									<p>
										We are expanding! Look to read about opportunities at Blair Medical Group
									</p>
									<a href="#" class="button_widget" title="Read More">
										<span>Read More</span>
									</a>
								</div>
							</div>
							<div id="box_color_4" class="widget_colored_cell four_box">
								<div class="widget_colored_cell_inner">
									<h2 class="widgettitle">Opening Hours</h2><br>
									<ul class="timeline-list">
										<li>
											<span class="fl">Monday - Friday</span>
											<span class="fr">8.00 - 17.00</span>
										</li>
										<li>
											<span class="fl">Saturday</span>
											<span class="fr">9.30 - 17.30</span>
										</li>
										<li>
											<span class="fl">Sunday</span>
											<span class="fr">9.30 - 15.00</span>
										</li>
									</ul>
								</div>
							</div>
						</aside>
					</div>
					<div class="one_first">
						<aside id="text-2" class="widget widget_text">
							<div class="textwidget">
								<h1>Providing the Highest Standard of Family Medicine and Urgent Care</h1>
								<h4>
									Let our award winning network of physicians help you and your family
								</h4>
							</div>
						</aside>
					</div>
				</div>
			</section>
			<!-- _________________________ Finish Top Sidebar _________________________ -->
			<div class="content_wrap fullwidth">

				<!--_________________________ Start Content _________________________ -->
				<section id="middle_content" role="main">
					<div class="entry">
						<div class="cmsms_cc">
							<div class="one_fourth first_column">
								<div class="tac">
									<span class="content_icon icon-glyph-2">&nbsp;</span>
								</div>
								<h3 class="block_title tac">Cardio Monitoring</h3>
								<p class="tac">
									MediCure theme functionality that was developed with health and medical websites in thought, with all the must-have features included.
								</p>
							</div>
							<div class="one_fourth">
								<div class="tac">
									<span class="content_icon icon-glyph-3">&nbsp;</span>
								</div>
								<h3 class="block_title tac">Medical Treatment</h3>
								<p class="tac">
									A fantastic set of 23 custom shortcodes lets you easlily and fast create a highly unique and interactive content for your medical website.
								</p>
							</div>
							<div class="one_fourth">
								<div class="tac">
									<span class="content_icon icon-glyph-4">&nbsp;</span>
								</div>
								<h3 class="block_title tac">Emergency Help</h3>
								<p class="tac">
									Custom Services post type allows you display a variety of medical services for a large hospital as well as for a small private clinic.
								</p>
							</div>
							<div class="one_fourth">
								<div class="tac">
									<span class="content_icon icon-glyph-5"></span>
								</div>
								<h3 class="block_title tac">Emergency Help</h3>
								<p class="tac">
									Custom Services post type allows you display a variety of medical services for a large hospital as well as for a small private clinic.
								</p>
							</div>
							<div class="one_first first_column">
								<section id="services_shortcode_535774340eace" class="post_type_shortcode">
									<div class="post_type_shortcode_inner">
										<h3>Latest Services</h3>
										<script type="text/javascript">
											jQuery(document).ready(function () {
											    jQuery('#services_shortcode_535774340eace .post_type_list').cmsmsResponsiveContentSlider({
											        sliderWidth: '100%',
											        sliderHeight: 'auto',
											        animationSpeed: 500,
											        animationEffect: 'slide',
											        animationEasing: 'easeInOutExpo',
											        pauseTime: 0,
											        activeSlide: 1,
											        touchControls: false,
											        pauseOnHover: false,
											        arrowNavigation: true,
											        slidesNavigation: false
											    });
											});
										</script>
										<ul class="post_type_list services_container responsiveContentSlider">
											<li>
												<article class="service type-service hentry one_fourth format-slider">
													<a href="diagnosis_clinic.html"></a>
													<figure>
														<a class="preloader" href="diagnosis_clinic.html" title="Pediatric Clinic">
															<img width="440" height="440" src="/images/happy-baby-s-440x440.jpg" class="fullwidth wp-post-image" alt="Pediatric Clinic" title="Pediatric Clinic" />
														</a>
													</figure>
													<div class="service_rollover">
														<header class="entry-header">
															<h5 class="entry-title">
																<a href="diagnosis_clinic.html" title="Pediatric Clinic">Pediatric Clinic</a>
															</h5>
														</header>
														<footer class="entry-meta">
															<span class="post_category">
																<a href="diagnosis_clinic.html" rel="tag">Pediatric</a>,
																<a href="diagnosis_clinic.html" rel="tag">Therapy</a>
															</span>
														</footer>
														<div class="entry-content">
															<p>
																Medicure HTML theme was created to offer a perfect solution for medical websites. It features functionality that was developed with health and medicine niche websites in thought, with all the compulsory for these sites features...
															</p>
														</div>
													</div>
												</article>
												<article class="service type-service hentry one_fourth format-album">
													<a href="diagnosis_clinic.html"></a>
													<figure>
														<a class="preloader" href="diagnosis_clinic.html" title="Gynecological Clinic">
															<img width="440" height="440" src="/images/ultrasound-s-440x440.jpg" class="fullwidth wp-post-image" alt="Gynecological Clinic" title="Gynecological Clinic" />
														</a>
													</figure>
													<div class="service_rollover">
														<header class="entry-header">
															<h5 class="entry-title">
																<a href="diagnosis_clinic.html" title="Gynecological Clinic">Gynecological Clinic</a>
															</h5>
														</header>
														<footer class="entry-meta">
															<span class="post_category">
																<a href="diagnosis_clinic.html" rel="tag">Therapy</a>
															</span>
														</footer>
														<div class="entry-content">
															<p>
																Medicure HTML theme was created to offer a perfect solution for medical websites. It features functionality that was developed with health and medicine niche websites in thought, with all the compulsory for these sites features included.
															</p>
														</div>
													</div>
												</article>
												<article class="service type-service hentry one_fourth format-album">
													<a href="diagnosis_clinic.html"></a>
													<figure>
														<a class="preloader" href="diagnosis_clinic.html" title="Laboratory Analysis">
															<img width="440" height="440" src="/images/biochemical-research-s-440x440.jpg" class="fullwidth wp-post-image" alt="Laboratory Analysis" title="Laboratory Analysis" />
														</a>
													</figure>
													<div class="service_rollover">
														<header class="entry-header">
															<h5 class="entry-title">
																<a href="diagnosis_clinic.html" title="Laboratory Analysis">Laboratory Analysis</a>
															</h5>
														</header>
														<footer class="entry-meta">
															<span class="post_category">
																<a href="diagnosis_clinic.html" rel="tag">Diagnosis</a>,
																<a href="diagnosis_clinic.html" rel="tag">Pharmacy</a>
															</span>
														</footer>
														<div class="entry-content">
															<p>
																Medicure HTML theme was created to offer a perfect solution for medical websites. It features functionality that was developed with health and medicine niche websites in thought, with all the compulsory for these sites features included.
															</p>
														</div>
													</div>
												</article>
												<article class="service type-service hentry one_fourth format-slider">
													<a href="diagnosis_clinic.html"></a>
													<figure>
														<a class="preloader" href="diagnosis_clinic.html" title="Cardiac Clinic">
															<img width="440" height="440" src="/images/consultation-s-1-440x440.jpg" class="fullwidth wp-post-image" alt="Cardiac Clinic" title="Cardiac Clinic" />
														</a>
													</figure>
													<div class="service_rollover">
														<header class="entry-header">
															<h5 class="entry-title">
																<a href="diagnosis_clinic.html" title="Cardiac Clinic">Cardiac Clinic</a>
															</h5>
														</header>
														<footer class="entry-meta">
															<span class="post_category">
																<a href="diagnosis_clinic.html" rel="tag">Diagnosis</a>,
																<a href="diagnosis_clinic.html" rel="tag">Therapy</a>
															</span>
														</footer>
														<div class="entry-content">
															<p>
																Medicure HTML theme was created to offer a perfect solution for medical websites. It features functionality that was developed with health and medicine niche websites in thought, with all the compulsory for these sites features included.
															</p>
														</div>
													</div>
												</article>
											</li>
											<li>
												<article class="service type-service hentry one_fourth format-album">
													<a href="diagnosis_clinic.html"></a>
													<figure>
														<a class="preloader" href="diagnosis_clinic.html" title="Diagnosis Clinic">
															<img width="440" height="440" src="/images/stethoscope-on-clipboard-s-440x440.jpg" class="fullwidth wp-post-image" alt="Diagnosis Clinic" title="Diagnosis Clinic" />
														</a>
													</figure>
													<div class="service_rollover">
														<header class="entry-header">
															<h5 class="entry-title">
																<a href="diagnosis_clinic.html" title="Diagnosis Clinic">Diagnosis Clinic</a>
															</h5>
														</header>
														<footer class="entry-meta">
															<span class="post_category">
																<a href="diagnosis_clinic.html" rel="tag">Diagnosis</a>,
																<a href="diagnosis_clinic.html" rel="tag">Therapy</a>
															</span>
														</footer>
														<div class="entry-content">
															<p>
																Medicure HTML theme was created to offer a perfect solution for medical websites. It features functionality that was developed with health and medicine niche websites in thought, with all the compulsory for these sites features included.
															</p>
														</div>
													</div>
												</article>
												<article class="service type-service hentry one_fourth format-video">
													<a href="diagnosis_clinic.html"></a>
													<figure>
														<a href="diagnosis_clinic.html" class="preloader" title="Rehabilitation Therapy">
															<img width="440" height="440" src="/images/male-doctor-440x440.jpg" class="fullwidth wp-post-image" alt="Rehabilitation Therapy" title="Rehabilitation Therapy" />
														</a>
													</figure>
													<div class="service_rollover">
														<header class="entry-header">
															<h5 class="entry-title">
																<a href="diagnosis_clinic.html" title="Rehabilitation Therapy">Rehabilitation Therapy</a>
															</h5>
														</header>
														<footer class="entry-meta">
															<span class="post_category">
																<a href="diagnosis_clinic.html" rel="tag">Diagnosis</a>,
																<a href="diagnosis_clinic.html" rel="tag">Therapy</a>
															</span>
														</footer>
														<div class="entry-content">
															<p>
																Medicure HTML theme was created to offer a perfect solution for medical websites. It features functionality that was developed with health and medicine niche websites in thought, with all the compulsory for these sites features included.
															</p>
														</div>
													</div>
												</article>
												<article class="service type-service hentry one_fourth format-video">
													<a href="diagnosis_clinic.html"></a>
													<figure>
														<a href="diagnosis_clinic.html" class="preloader" title="Medical Counseling">
															<img width="440" height="440" src="/images/Young-attractive-man-440x440.jpg" class="fullwidth wp-post-image" alt="Medical Counseling" title="Medical Counseling" />
														</a>
													</figure>
													<div class="service_rollover">
														<header class="entry-header">
															<h5 class="entry-title">
																<a href="diagnosis_clinic.html" title="Medical Counseling">Medical Counseling</a>
															</h5>
														</header>
														<footer class="entry-meta">
															<span class="post_category">
																<a href="diagnosis_clinic.html" rel="tag">Therapy</a>
															</span>
														</footer>
														<div class="entry-content">
															<p>
																Medicure HTML theme was created to offer a perfect solution for medical websites. It features functionality that was developed with health and medicine niche websites in thought, with all the compulsory for these sites features included.
															</p>
														</div>
													</div>
												</article>
												<article class="service type-service hentry one_fourth format-album">
													<a href="diagnosis_clinic.html"></a>
													<figure>
														<a class="preloader" href="diagnosis_clinic.html" title="Psychological Counseling">
															<img width="440" height="440" src="/images/personal-counselor-s-440x440.jpg" class="fullwidth wp-post-image" alt="Psychological Counseling" title="Psychological Counseling" />
														</a>
													</figure>
													<div class="service_rollover">
														<header class="entry-header">
															<h5 class="entry-title">
																<a href="diagnosis_clinic.html" title="Psychological Counseling">Psychological Counseling</a>
															</h5>
														</header>
														<footer class="entry-meta">
															<span class="post_category">
																<a href="diagnosis_clinic.html" rel="tag">Diagnosis</a>,
																<a href="diagnosis_clinic.html" rel="tag">Therapy</a>
															</span>
														</footer>
														<div class="entry-content">
															<p>
																Medicure HTML theme was created to offer a perfect solution for medical websites. It features functionality that was developed with health and medicine niche websites in thought, with all the compulsory for these sites features included.
															</p>
														</div>
													</div>
												</article>
											</li>
										</ul>
										<div class="cl"></div>
									</div>
								</section>
							</div>
							<div class="one_half first_column">
								<section class="post_type_shortcode type_post">
									<div class="post_type_shortcode_inner">
										<h3>Latest News</h3>
										<article class="type-post format-standard hentry category-home-post category-medical one_fourth">
											<figure class="cmsms_post_type_img">
												<img width="150" height="150" src="/images/stethoscope-on-clipboard-s-150x150.jpg" class="attachment-thumbnail wp-post-image" alt="Center for Medical Technology Innovation" title="Center for Medical Technology Innovation" />
											</figure>
											<header class="entry-header">
												<h4 class="entry-title">
													<a href="posttype.html">Center for Medical Technology Innovation</a>
												</h4>
												<div class="cmsms_post_info"> <abbr class="published" title="January 24, 2014">March 24, 2015</abbr>

												</div>
											</header>
											<div class="entry-content">
												<p>
													Blair Medical Group aquires latest health care imaging technology to better understand and treat ailments.
												</p>
											</div>
										</article>
										<article class="post type-post format-standard hentry category-home-post category-medical one_fourth">
											<figure class="cmsms_post_type_img">
												<img width="150" height="150" src="/images/doctor-at-the-gym-710400-1-150x150.jpg" class="attachment-thumbnail wp-post-image" alt="Nutritional Personal Consultation" title="Nutritional Personal Consultation" />
											</figure>
											<header class="entry-header">
												<h4 class="entry-title">
													<a href="posttype.html">Nutritional Personal Consultation</a>
												</h4>
												<div class="cmsms_post_info"> <abbr class="published" title="January 24, 2014">April 18, 2015</abbr>

												</div>
											</header>
											<div class="entry-content">
												<p>Our nutrition experts can help you and your family achieve your health goals for this year. Book an appointment today for more information.</p>
											</div>
										</article>
										<div class="cl"></div>
									</div>
								</section>
							</div>
							<div class="one_half">
								<section id="services_shortcode_5357743422388" class="post_type_shortcode type_testimonial">
									<div class="post_type_shortcode_inner">
										<h3>MDChat On-Call</h3>
										<div style="  width: 94%;float: none;clear: both;margin: 0 0.6%; padding: 0px 20px 0 8px;position: relative;">

											<script type="text/javascript">
											(function () {
											var s = document.createElement('script');
											s.type = 'text/javascript';s.async = true;s.charset = "UTF-8";
											s.src = '//bs.mdchat.com/js/msgwidget.js';
											s.id = 'oncallscriptid';
											var x = document.getElementsByTagName('script')[0];
											x.parentNode.insertBefore(s, x);
											})();
											</script>

											<div id="mdc-msg-area"></div>
										</div>

										<div class="cl"></div>
									</div>
								</section>
							</div>
							<div class="one_first first_column">
								<h3>Our Doctors</h3>
							</div>
							<div class="one_fourth first_column">
								<div class="cmsms_our_team_wrap">
									<div class="cmsms_our_team">
										<div class="wrap_person">
											<figure>
												<img width="440" height="440" src="/images/female-practitioner-s-11-440x440.jpg" class="fullwidth" alt="female-practitioner-s-1" />
											</figure>
											<div class="cmsms_team_rollover glow_blue">
												<a href="dr_michael_linden.html" class="cmsms_link">
													<span></span>
												</a>
											</div>
										</div>
										<header class="entry-header">
											<div>
												<h6 class="person_title">
													<a href="dr_michael_linden.html">Dr. Karen Dawson</a>
												</h6>
												<p class="person_subtitle">Pediatric Clinic</p>
											</div>
										</header>
										<footer class="entry-meta">
											<a href="#" title="facebook" target="_blank">
												<img src="/images/img/facebook.png" alt="facebook" />
											</a>
											<a href="#" title="twitter" target="_blank">
												<img src="/images/img/twitter.png" alt="twitter" />
											</a>
											<a href="#" title="skype" target="_blank">
												<img src="/images/img/skype.png" alt="skype" />
											</a>
											<a href="#" title="linkedin" target="_blank">
												<img src="/images/img/linkedin.png" alt="linkedin" />
											</a>
											<div class="cl"></div>
										</footer>
									</div>
								</div>
							</div>
							<div class="one_fourth">
								<div class="cmsms_our_team_wrap">
									<div class="cmsms_our_team">
										<div class="wrap_person">
											<figure>
												<img width="440" height="440" src="/images/smiling-doctor-with-chin-on-hand-s-440x440.jpg" class="fullwidth" alt="smiling-doctor-with-chin-on-hand-s" />
											</figure>
											<div class="cmsms_team_rollover glow_blue">
												<a href="dr_michael_linden.html" class="cmsms_link">
													<span></span>
												</a>
											</div>
										</div>
										<header class="entry-header">
											<div>
												<h6 class="person_title">
													<a href="dr_michael_linden.html">Dr. Jack Simmons</a>
												</h6>
												<p class="person_subtitle">Cardiac Clinic</p>
											</div>
										</header>
										<footer class="entry-meta">
											<a href="#" title="facebook" target="_blank">
												<img src="/images/img/facebook.png" alt="facebook" />
											</a>
											<a href="#" title="twitter" target="_blank">
												<img src="/images/img/twitter.png" alt="twitter" />
											</a>
											<a href="#" title="skype" target="_blank">
												<img src="/images/img/skype.png" alt="skype" />
											</a>
											<a href="#" title="linkedin" target="_blank">
												<img src="/images/img/linkedin.png" alt="linkedin" />
											</a>
											<div class="cl"></div>
										</footer>
									</div>
								</div>
							</div>
							<div class="one_fourth">
								<div class="cmsms_our_team_wrap">
									<div class="cmsms_our_team">
										<div class="wrap_person">
											<figure>
												<img width="440" height="440" src="/images/successful-physician-s-2-440x440.jpg" class="fullwidth" alt="successful-physician-s-2" />
											</figure>
											<div class="cmsms_team_rollover glow_blue">
												<a href="dr_michael_linden.html" class="cmsms_link">
													<span></span>
												</a>
											</div>
										</div>
										<header class="entry-header">
											<div>
												<h6 class="person_title">
													<a href="dr_michael_linden.html">Dr. Jack Zerriper</a>
												</h6>
												<p class="person_subtitle">Rehabilitation Therapy</p>
											</div>
										</header>
										<footer class="entry-meta">
											<a href="#" title="facebook" target="_blank">
												<img src="/images/img/facebook.png" alt="facebook" />
											</a>
											<a href="#" title="twitter" target="_blank">
												<img src="/images/img/twitter.png" alt="twitter" />
											</a>
											<a href="#" title="skype" target="_blank">
												<img src="/images/img/skype.png" alt="skype" />
											</a>
											<a href="#" title="linkedin" target="_blank">
												<img src="/images/img/linkedin.png" alt="linkedin" />
											</a>
											<div class="cl"></div>
										</footer>
									</div>
								</div>
							</div>
							<div class="one_fourth">
								<div class="cmsms_our_team_wrap">
									<div class="cmsms_our_team">
										<div class="wrap_person">
											<figure>
												<img width="440" height="440" src="/images/male-doctor-440x440.jpg" class="fullwidth" alt="male-doctor" />
											</figure>
											<div class="cmsms_team_rollover glow_blue">
												<a href="dr_michael_linden.html" class="cmsms_link">
													<span></span>
												</a>
											</div>
										</div>
										<header class="entry-header">
											<div>
												<h6 class="person_title">
													<a href="dr_michael_linden.html">Dr. Michael Linden</a>
												</h6>
												<p class="person_subtitle">Laryngological Clinic</p>
											</div>
										</header>
										<footer class="entry-meta">
											<a href="#" title="facebook" target="_blank">
												<img src="/images/img/facebook.png" alt="facebook" />
											</a>
											<a href="#" title="twitter" target="_blank">
												<img src="/images/img/twitter.png" alt="twitter" />
											</a>
											<a href="#" title="skype" target="_blank">
												<img src="/images/img/skype.png" alt="skype" />
											</a>
											<a href="#" title="linkedin" target="_blank">
												<img src="/images/img/linkedin.png" alt="linkedin" />
											</a>
											<div class="cl"></div>
										</footer>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- _________________________ Finish Content _________________________ -->

				<div class="cl"></div>
			</div>
		</section>
		<!-- _________________________ Finish Middle _________________________ -->

		<div id="cmsms_latest_bottom_tweets">
			<div class="cmsms_latest_bottom_tweets_inner">
				<span class="tweets_icon"></span>
				<ul class="jta-tweet-list responsiveContentSlider">
					<li class="jta-tweet-list-item">
						Blair Medical Group named top 100 clinics in the country in 2015.
						<a href="#" target="_blank" rel="nofollow">http://t.co/Xzsvpy8rPQ</a>
					</li>
					<li class="jta-tweet-list-item">
						Blair Medical Group named top 100 clinics in the country in 2015.
						<a href="#" target="_blank" rel="nofollow">http://t.co/PmSDQs9lHN</a>
					</li>
					<li class="jta-tweet-list-item">
						Blair Medical Group named top 100 clinics in the country in 2015.
						<a href="#" target="_blank" rel="nofollow">http://t.co/9d1vxenoNQ</a>
					</li>
				</ul>
			</div>
		</div>
		<script type="text/javascript">
			jQuery(document).ready(function () {
				jQuery('#cmsms_latest_bottom_tweets .jta-tweet-list').cmsmsResponsiveContentSlider( {
					sliderWidth : '100%',
					sliderHeight : 'auto',
					animationSpeed : 500,
					animationEffect : 'fade',
					animationEasing : 'linear',
					pauseTime : 7000,
					activeSlide : 1,
					touchControls : true,
					pauseOnHover : false,
					arrowNavigation : true,
					slidesNavigation : false
				} );
			} );
		</script>
		<!-- _________________________ Start Bottom _________________________ -->
		<section id="bottom">
			<div class="bottom_inner">
				<div class="one_fourth">
					<aside id="text-3" class="widget widget_text">
						<h3 class="widgettitle">Blair Medical Group Information</h3>
						<div class="textwidget">
							<p id="pb_35">
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
							</p>
							<aside class="widget widget_custom_contact_info_entries" id="custom-contact-info-2">
								<div class="contact_widget_info">
									<span class="contact_widget_name">Blair Medical Group</span>
									<span class="contact_widget_address">51, North Ave</span>
									<span class="contact_widget_city">New York</span>
									<span class="contact_widget_state">NY</span>
								</div>
								<span class="contact_widget_phone">(978) 373 5222</span>
								<span class="contact_widget_email">
									<a href="#" style="font-size: 12px;">contact@blairmedicalgroup.com</a>
								</span>
							</aside>
						</div>
					</aside>
				</div>
				<div class="one_fourth">
					<aside id="nav_menu-2" class="widget widget_nav_menu">
						<h3 class="widgettitle">Doctors</h3>
						<div class="menu-doctors-container">
							<ul id="menu-doctors" class="menu">
								<li class="menu-item">
									<a href="#">Dr. Karen Dawson</a>
								</li>
								<li class="menu-item">
									<a href="#">Dr. Jack Simmons</a>
								</li>
								<li class="menu-item">
									<a href="#">Dr. Jack Zerriper</a>
								</li>
								<li class="menu-item">
									<a href="#">Dr. Michael Linden</a>
								</li>
								<li class="menu-item">
									<a href="#">Dr. Simon Green</a>
								</li>
								<li class="menu-item">
									<a href="#">Dr. Natalie Channing</a>
								</li>
								<li class="menu-item">
									<a href="#">Dr. Caroline Gerwig</a>
								</li>
							</ul>
						</div>
					</aside>
				</div>
				<div class="cl_resp"></div>
				<div class="one_fourth">
					<aside id="nav_menu-4" class="widget widget_nav_menu">
						<h3 class="widgettitle">Services</h3>
						<div class="menu-services-container">
							<ul id="menu-services" class="menu">
								<li class="menu-item">
									<a href="#">Pediatric Clinic</a>
								</li>
								<li class="menu-item">
									<a href="#">Diagnosis Clinic</a>
								</li>
								<li class="menu-item">
									<a href="#">Cardiac Clinic</a>
								</li>
								<li class="menu-item">
									<a href="#">Laboratory Analysis</a>
								</li>
								<li class="menu-item">
									<a href="#">Dental Clinic</a>
								</li>
								<li class="menu-item">
									<a href="#">Gynecological Clinic</a>
								</li>
								<li class="menu-item">
									<a href="#">Psychological Counseling</a>
								</li>
							</ul>
						</div>
					</aside>
				</div>
				<div class="one_fourth">
					<aside class="widget widget_custom_contact_form_entries">
						<h3 class="widgettitle">Quick Contacts</h3>
						<div class="cmsms-form-builder">
							<div class="box success_box widgetinfo">
								<table>
									<tr>
										<td>&nbsp;</td>
										<td>Thank You!<br>Your message has been sent successfully.</td>
									</tr>
								</table>
							</div>
							<script type="text/javascript">
								jQuery(document).ready(function () {
									jQuery('#form_contact_form_widget_001').validationEngine('init');

									jQuery('#form_contact_form_widget_001 a#contact_form_widget_001_wformsend').click(function () {
										var form_builder_url = jQuery('#contact_form_widget_001_wurl').val();

										jQuery('#form_contact_form_widget_001 .loading').animate( {
											opacity : 1
										} , 250);

										if (jQuery('#form_contact_form_widget_001').validationEngine('validate')) {
											jQuery.post(form_builder_url, {
												field_003 : jQuery('#field_003').val(),
												field_004 : jQuery('#field_004').val(),
												formname : 'contact_form_widget_001',
												formtype : 'widget'
											}, function () {
												jQuery('#form_contact_form_widget_001 .loading').animate( { opacity : 0 }, 250);
												document.getElementById('form_contact_form_widget_001').reset();
												jQuery('#form_contact_form_widget_001').parent().find('.widgetinfo').hide();
												jQuery('#form_contact_form_widget_001').parent().find('.widgetinfo').fadeIn('fast');
												jQuery('html, body').animate( { scrollTop : (jQuery('#form_contact_form_widget_001').offset().top - 100) }, 'slow');
												jQuery('#form_contact_form_widget_001').parent().find('.widgetinfo').delay(5000).fadeOut(1000);
											} );

											return false;
										} else {
											jQuery('#form_contact_form_widget_001 .loading').animate( { opacity : 0 }, 250);

											return false;
										}
									} );
								} );
							</script>
							<form action="#" method="post" id="form_contact_form_widget_001">
								<div class="form_info cmsms_input">
									<label for="field_003">Your Email<span class="color_3"> *</span></label>
									<input type="text" name="wemail" id="field_003" size="22" tabindex="12" class="validate[required,custom[email]]" />
								</div>
								<div class="form_info cmsms_textarea">
									<label for="field_004">Your message<span class="color_3"> *</span></label>
									<textarea name="wmessage" id="field_004" cols="28" rows="6" tabindex="13" class="validate[required,minSize[3]]"></textarea>
								</div>
								<div class="loading"></div>
								<div><input type="hidden" name="contact_form_widget_001_wurl" id="contact_form_widget_001_wurl" value="http://your_site.net/php/sendmail.php" /></div><!-- Here you need to set the path to the sendmail file -->
								<div><a href="#" id="contact_form_widget_001_wformsend" class="button_small" tabindex="14"><span>Submit</span></a></div>
							</form>
						</div>
					</aside>
				</div>
			</div>
		</section>
		<!-- _________________________ Finish Bottom _________________________ -->

		<a href="javascript:void(0);" id="slide_top"></a>
	</div>
	<!-- _________________________ Finish Container _________________________ -->

	<!-- _________________________ Start Footer _________________________ -->

	<footer id="footer" role="contentinfo">
		<span class="copyright">Blair Medical Group © 2015 | All Rights Reserved</span>
		<ul id="footer_nav" class="footer_nav">
			<li class="menu-item">
				<a href="index.html">Home</a>
			</li>
			<li class="menu-item">
				<a href="about.html">About Us</a>
			</li>
			<li class="menu-item">
				<a href="doctors.html">Doctors</a>
			</li>
			<li class="menu-item">
				<a href="blog.html">Blog</a>
			</li>
			<li class="menu-item">
				<a href="contacts.html">Contacts</a>
			</li>
		</ul>
	</footer>
	<!-- _________________________ Finish Footer _________________________ -->

</section>
<!-- _________________________ Finish Page _________________________ -->

	<script src="/js_bmg/respond.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="/revolution/js/jquery.themepunch.revolution.js"></script>
	<script type="text/javascript" src="/revolution/js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="/revolution/js/jquery.themepunch.plugins.min.js"></script>
	<script type='text/javascript' src='/js_bmg/jquery.easing.min.js?ver=1.3.0'></script>
	<script src="/js_bmg/jquery.script.js" type="text/javascript"></script>
	<script src="/js_bmg/jackbox-lib.js" type="text/javascript"></script>
	<script src="/js_bmg/jackbox.js" type="text/javascript"></script>
	<script src="/js_bmg/jquery.flickrfeed.min.js" type="text/javascript"></script>
	<script src="/js_bmg/jquery.tweet.min.js" type="text/javascript"></script>
	<script src="/js_bmg/jquery.validationEngine-lang.js" type="text/javascript"></script>
	<script src="/js_bmg/jquery.validationEngine.min.js" type="text/javascript"></script>
</body>
</html>
