body{padding: 0px;margin: 0px;}
ul{list-style-type: none;padding: 0px;margin: 0px;}

.msg-widget, .msg-start-widget-area-1{
	border: 1px solid #868686;
	width: 230px;
	padding: 14px;
	font-family: arial;
	font-size: 15px;
}

.msg-widget a.submit, .widget-department a.submit, .widget-department a.cancel
{display: block; color: #fff;background: #000;padding: 5px 15px;font-weight: bold;text-decoration:none;margin-top: 8px;float: right;margin-left:15px;}


.widget-department a.cancel{color:#000;background:none;border:1px solid #000;margin-right:0px;}

.msg-start-widget-area-1{
	width: 200px;
}

.clearboth{clear: both;}

.msg-widget h3, .msg-start-widget-area-1 h3{margin: 0;margin-bottom: 8px;}

.start-widget-mdc-call-ul li{padding: 10px;float: left;}

.msg-widget [type=text], .msg-widget select{width: 230px;}
.msg-widget textarea{width: 230px; height: 100px;}

.dummy-of-form li{ border-top: 1px dotted #333; }

.widget-department{font-family: arial;border: 1px solid #333;font-size: 13px;font-weight: bold;position: relative;}

.widget-department input, .widget-department select{height:23px;}
.widget-department textarea{width: 505px;height: 70px;}
.widget-department label{display: block;margin-bottom: 2px;}
.widget-department ul li{padding: 0px;padding-bottom: 12px;padding-left:22px;padding-right: 22px;}
.widget-department ul li:first-child{padding-top: 22px;}
.widget-department ul li h3{margin: 0;}
.widget-department h3{font-size: 20px;}

.widget-department .primary{width: 260px;}
.widget-department .secondary{width: 160px;}
.widget-department .secondary{width: 160px;}
.widget-department .dob{width: 80px;}
.widget-department .datetime{margin-top: 20px;display: block;float: left; }

.mdc-logo{width: 163px; height: 42px; background-image: url("/img/logo-mdc.png"); margin-bottom: 10px;}
.response-needed{color: #fff;background-color: #E62E3A;padding: 5px;width: 140px;text-align: center;position: absolute;top: 15px; right: 17px;}
.after-send-li-box div.messages-box{line-height:1.3;padding:5px;background-color: #F2F2F2; border-bottom:1px solid #000;border-top:1px solid #000;}

.after-send-li-box{padding: 0px !important;}


.after-send-li-box .knowledge-response-box{
float: right;
padding-top: 3px;
margin-right: 16px;
color: #fff;
background-color: #000;
padding-right: 10px;
padding-left: 5px;}
.after-send-li-box .knowledge-response-box label{float: right; margin-top: 6px; }
.after-send-li-box .knowledge-response-box input{float: left;}
.after-send-li-box .msg-status{float: left;}

/*.after-send{display:block;}
.before-send{display:none;}*/
.after-send{display:none;}
.before-send{display:block;}